<a href="https://colab.research.google.com/github/Kobedi/za.datascience/blob/master/learnTnTfunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
#import sklearn.cross_validation as cross_validation
import sklearn.model_selection as model_selection
from sklearn.model_selection import KFold

X = list(range(20))
print(X)

y = [x*x for x in X]
print(y)

#Now lets do the train and spliting. 
X_train,X_test, y_train,y_test = model_selection.train_test_split(X,y,train_size=0.75, shuffle=False)

print("X train ", X_train)
print("Y train ", y_train)
print("X test ", X_test)
print("Y test ", y_test)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
X train  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Y train  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
X test  [15, 16, 17, 18, 19]
Y test  [225, 256, 289, 324, 361]